.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-color: #ffffff;
    position: relative;
    padding: 20px;
    overflow: hidden;
}

.title {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
    margin-top: 150px;
}

.illustration {
    width: 70%;
    max-width: 350px;
    margin-bottom: 30px;
}

.login-button {
    width: 80%;
    height: 50px;
    max-width: 300px;
    background-color: #282828;
    color: white;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    padding: 12px;
    text-transform: uppercase;
    margin: 20px auto;
    display: block;
    border: none; 
    box-shadow: none;
    margin-top: 90px;
    font-family: 'Lato', sans-serif;
}

.login-button:active {
    background-color: #444;
    transform: scale(0.97);
    transition: transform 0.1s ease;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 120px;
    background: url('/wave.svg') no-repeat center;
    background-size: cover;
}
